/* Reset de estilos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #e2019f;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilo do conteúdo principal */
main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #e2019f(0, 0, 0, 0.1);
}

.about,
.portfolio {
    margin-bottom: 50px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e2019f;
    color: #fff;
}
