body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f0f0f0;
    color: white;
    padding: 10px;
    text-align: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header-content img {
    max-width: 150px;
    height: 150px;
}
header h1 {
    width: 100px;
    height: auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav li {
    margin-right: 20px;
}
section {
    padding: 20px;
}
section#hero {
    background-color: #5600b8;
    text-align: center;
}
section#hero img {
    max-width: 100%;
    height: auto;
}
section#sobre {
    background-color: #f9f9f9;
}

section#curiosidades {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.curiosidade {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.curiosidade img {
    max-width: 100%;
    height: auto;
}

section#curiosidades ol {
    padding: 0;
    list-style: none;
}
section#curiosidades li {
    margin-bottom: 20px;
}
section#educacao, section#causos, section#habilidades {
    background-color: #5600b8;
    color: white;
}
footer {
    background-color: #f9f9f9;
    color: #5600b8;
    padding: 20px;
    text-align: center;
}